body {
font-size:12pt; font-family:Calibri,Verdana, sans-serif;
background: linear-gradient(to right, #000000, #404040, #000000);
color: #636363;
}

.normal {
    color: #636363;
    }

a {
color: #8F8F8F;
text-decoration: none;
margin-left:2px;
}

a:hover {
text-decoration: none;
}

a.DOI:hover { color: #ffff99; }
/* a.MathSciNet:hover { color: #EE5A00; } */
/* a.Zentralblatt:hover { color: #FBB515; } */


a.MathSciNet:hover { color: #ffff99; }
a.Zentralblatt:hover { color: #ffff99; }
a.ResearchGate:hover {  color: #ffff99; }


span.papertitle {
color: rgba(0,153,255,1);
}

div.header{
margin:20px;
margin-right:40px;
margin-left:40px;
background: black;
font-size:48pt;
background-image: linear-gradient(to left bottom, #404040 10%, #000000 24%);
text-align:center;
position:fixed;
width:100%;
height:115px;
top:0px;
z-index:100;
}

div.main{
width:100%;
}

div.lista {
    margin-top:150px;
    }

div.entry{
margin:10px;
}

span.menu {
font-size:14pt;
top:20px;
margin: 0 auto;
display:block;
}

span.menu a {
margin:10px;
}

span.menu a.selected {
color: rgba(0,153,255,1);
}

div.entry-btm{
width:800px;
min-height:100px;
background: linear-gradient( #000000, #202020);
border:1px solid;
margin: 0px auto;
border-bottom-right-radius:25px;
border-color:black;
padding:20px;
padding-top:10px;
display:block;
box-shadow: 5px 5px 3px #101010;
vertical-align:top;
}

a.MathScinet, a.Zentralblatt{
margin:5px;
}

span.files {
float: right;
height: 24px;
display:inline-block;
}

span.openAccess {
float: right;
height: 24px;
display:inline-block;
}

a.pdf{
background: url(images/pdf.gif) no-repeat left top;
}

div#footer{
margin: 0px auto;
width:500px;
}

a.contactLink, a.contactLink:hover { color: rgba(0,153,255,1); }
